<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--    Style for map-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="//unpkg.com/leaflet-gesture-handling/dist/leaflet-gesture-handling.min.css"
          type="text/css">
    <script src="//unpkg.com/leaflet-gesture-handling"></script>
    <!--    Style for map END-->

    <title>Find your Medical Lab</title>
    <link rel="shortcut icon" href="img/pulseTabIcon.svg">

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

    <script>
        function zoom() {
            document.body.style.zoom = "75%"
        }
    </script>

    <style>

        .button {
            background-color: rgba(78, 115, 223, .8);
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
        .button:hover {
            background-color: rgb(78, 115, 223);
        }
        .sidebar{
            min-height: 135vh;
        }


        input{
            background-color: rgba(78, 115, 223, .8);
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
        }
        input:hover {
            background-color: rgb(78, 115, 223);

        }

        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            appearance: none;
            background: transparent;
            font-size: 25px;
            border: none;
            margin-left: 20px;
            text-align: center;
            font-size: 25px;
        }

        .select {
            display: inline-block;
            width: 20em;
            height: 3.3em;
            background: transparent;
            border-radius: 10px;
            text-align: left;
            border: none;
        }

        select {
            margin-top: 30px;
            width: 100%;
            height: 100%;
            margin: 0;
            color: rgba(78,115,223, 0.8);
            font-size: 19px;
            cursor: pointer;
            padding: 5px;
            border: none;
        }
        select::after{
            font-size: 26px;
        }

        select::-ms-expand {
            display: none;
        }

        .select::after {
            top: 2px;
            right: 0;
            bottom: 0;
            padding: 0 1em;
            pointer-events: none;
            background-color: transparent;

            font-size: 26px;
        }
        .select:hover{
            border: 3px solid rgb(78,115,223) ;
        }

        .select:hover::after {
            color: lightgray;
            background-color: whitesmoke;
            border: none;
            font-size: 26px;
        }

        /*<!-- For different browsers --> */
        .select::after {
            -webkit-transition: .25s all ease;
            -o-transition: .25s all ease;
            transition: .25s all ease;
        }
    </style>

</head>

<body id="page-top" onload="zoom()" style="width: 100%; height: 100%">

<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">


        <!-- Sidebar - Brand - NAME -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/home">
            <div class="sidebar-brand-icon">
                <img src="img/pulse-white.svg" height="40"
                     width="40"/>
            </div>
            <div class="sidebar-brand-text mx-3">Go - LAB</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="/home">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Home</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading for MAP -->
        <div class="sidebar-heading">
            Find your Medical LAB
        </div>

        <!-- ITEMS for map-->
        <li class="nav-item active">
            <a class="nav-link" href="/map">
                <i class="fas fa-fw icon text-white-50 fas fa-flag"></i>
                <span>Map</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Tables
        </div>

        <!-- Table -->

        <li class="nav-item">
            <a class="nav-link" href="/MedicalLAB">
                <i class="fas fa-fw fa-table"></i>
                <span>All Medical Centers</span></a>
        </li>


        <li class="nav-item">
            <a class="nav-link" href="/covid19TestingLab">
                <i class="fas fa-fw fa-table"></i>
                <span>Covid - 19 Testing Centers</span></a>
        </li>


        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">
        <div class="sidebar-heading">
            Contact
        </div>

        <li class="nav-item">
            <a class="nav-link" href="/aboutUs">
                <i class="fas fa-fw fa-info-circle icon text-white-50"></i>
                <span>About Us</span></a>
        </li>

        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>

                    </li>


                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small"></span>
                            <img class="img-profile rounded-circle"
                                 src="img/undraw_profile.svg">
                        </a>

                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid" style="height: 1000px">

                <!-- Page Heading -->

                <!--                Filter med lab  -->
                <h1 class="h3 mb-4 text-gray-800">Пронајди ја твојата лабораторија</h1>
                <div>

                        <form th:method="POST" th:action="@{/map}">
                            <span class="select" style="margin-left: 80px">
                            <select name="city">
                                <option selected disabled hidden >Одбери град: </option>
                                <option th:each="city : ${allCities}" th:value="${city}"
                                        th:text="${city}" id="city" name="city"></option>
                            </select>
                            </span>

                            <span class="select" style="margin-left: 80px">
                            <select name="category">
                                <option selected disabled hidden >Одбери категорија: </option>
                                <option th:each="category : ${allCategories}" th:value="${category}"
                                        th:text="${category}" id="category" name="category"></option>
                            </select >
                            </span>

                            <span class="select" style="margin-left: 50px; margin-right: 30px">
                            <select name="covidTest">
                                <option selected disabled hidden>Одбери ковид-19 тестирање: </option>
                                <option name="covidTest">да</option>
                                <option name="covidTest">не</option>
                            </select>
                            </span>

                            <input type="submit" value="Филтрирај" id="submitId" style="float: right"/>

                        </form>
                    <br>
                </div>
                <!--                Filter med lab  END -->



                <!--                Location on map-->
                <hr class="sidebar-divider my-0">
                <br>
                <h3 style="font-weight: bold; color: #3b5998"> Локација: </h3>
                <br>
                <h4 style="display: inline-block"> Филтрирано според:  </h4>
                <span> град: </span> <span style="display: inline-block; font-weight: bold; font-size: 19px" th:text="${city} ?: 'СИТЕ'"></span>   <!-- Raboti odlicno -->
                <span>, категорија: </span> <span style="display: inline-block;font-weight: bold; font-size: 19px" th:text="${category} ?: 'СИТЕ'"></span> <!-- Raboti odlicno -->
                <span>, ковид-19 тестирање: </span> <span style="display: inline-block;font-weight: bold; font-size: 19px" th:text="${covidTest} ?: 'СИТЕ'"></span> <!-- Raboti odlicno -->
                <span>, пронајдени: </span> <span style="display: inline-block;font-weight: bold; font-size: 19px" th:text="${sizeList} ?: '202'"></span> <!-- Raboti odlicno -->

                <button id="geoLocation" class="button" style="float: right; margin-top: -26px" >
                    Прикажи најблиски медицински установи
                </button>

                <div id="map" style="width: 100%; height: 750px">

                </div>
                <!--              Location on map END-->

                <div id="latitude" style="display: none"> </div>
                <div id="longitude" style="display: none"> </div>


                <!--                Data for map loaction - marker -->
                <ul style="display: none" th:each="med:${medicinski}">
                   <li  class="test" th:text="${med.getValue().getLongitude()}"></li>
                </ul>
                <ul style="display: none"  th:each="med:${medicinski}">
                    <li class="test_lat" th:text="${med.getValue().getLatitude()}"></li> <!-- dobro raboti !!! -->
                </ul>
                <ul style="display: none"  th:each="med:${medicinski}">
                    <li class="ime" th:text="${med.getValue().getNaziv()}"></li>
                </ul>
                <ul style="display: none"  th:each="med:${medicinski}">
                    <li class="kat" th:text="${med.getValue().getKategorija()}"></li>
                </ul>
                <ul style="display: none"  th:each="med:${medicinski}">
                    <li class="Med-id" th:text="${med.getValue().getMedicinska_ustanova_ID()}"></li>
                </ul>
                <!--                Data for map loaction - marker END-->


            </div>

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Go - LAB 2021</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

</body>

<!-- JS for map design and funct.-->
<script>

    const map = L.map('map', {
        gestureHandling: true
    }).setView([41.606510, 21.221958], 9);

    // razlicni izgledi na mapata
    layer1 =  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
    layer2 =  L.tileLayer('https://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    });
    layer3 =  L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    });

    var allOptions = {
        "Default": layer1,
        "Open streetmap: Hot": layer2,
        "Open streetmap: Osm": layer3
    };  // all layers

    L.control.layers(allOptions).addTo(map);

    layer1.addTo(map);  //default layer
    // razlicni izgledi na mapata

        var list_long;
        var list_lat;
        var naziv;
        var med_id;
        var kat;

        for (var i=0; i<document.getElementsByClassName('test').length; i++) {
            list_long= list_long+','+ (document.getElementsByClassName('test').item(i).innerHTML)
            list_lat= list_lat+','+ (document.getElementsByClassName('test_lat').item(i).innerHTML)
            naziv = naziv + ','+ (document.getElementsByClassName('ime').item(i).innerHTML)
            med_id = med_id + ','+ (document.getElementsByClassName('Med-id').item(i).innerHTML)
            kat = kat + ','+ (document.getElementsByClassName('kat').item(i).innerHTML)
        }

        const temp_long = list_long.split(',');
        const temp_lat = list_lat.split(',');
        const temp_naziv = naziv.split(',');
        const temp_med_id = med_id.split(',');
        const temp_kat = kat.split(',');

        for (var i = 1; i < temp_long.length; i++) {
            var link_detailedView = "https://go-lab.herokuapp.com/MedicalLAB/" + temp_med_id[i];
            marker = L.marker([temp_lat[i], temp_long[i]]).addTo(map)
                .bindPopup('<span style="text-align: center">' + '<hr>' +
                    '<h5> <b style="color: #3b5998">Име:</b> ' + temp_naziv[i] + '</h5>' +
                    '<h5> <b style="color: #3b5998">Категорија:</b> ' + temp_kat[i] + '</h5>' +
                    '<h5> <b style="color: #3b5998">Детален поглед:</b>  <a href='+link_detailedView+'> кликни тука </a></h5> ' + '<hr>' + '</span>');
        }



    // Zemanje lokacija na user preku geolocation i prikazuvanje najbliski med ustanovi

    var user_lat;
    var user_lng;
    var layerGroup = L.layerGroup().addTo(map);
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            document.getElementById("latitude").innerHTML = "The Browser Does not Support                                                                       Geolocation";
        }
    }

    function showPosition(position) {
        document.getElementById("latitude").innerHTML = position.coords.latitude;
        document.getElementById("longitude").innerHTML = position.coords.longitude;
        user_lat = parseFloat(document.getElementById("latitude").innerHTML);
        user_lng = parseFloat(document.getElementById("longitude").innerHTML);

        layerGroup.clearLayers();
        L.marker([user_lat, user_lng]).addTo(layerGroup)
                 .bindPopup('<h5> Твојата локација </h5>') .openPopup();

        var user_location = [user_lat, user_lng];
        if(user_lat!=null && user_lng!=null)
        {
            var circleCenter = user_location;

            var circleOptions = {
                color: 'blue',
                fillColor: '#00f',
                fillOpacity: 0.2
            }

            var circle = L.circle(circleCenter, 4000, circleOptions);
            circle.addTo(layerGroup)

            map.setView(new L.LatLng(user_lat, user_lng), 13);
        }
    }

    $(document).on("click", "#geoLocation", function () {
        getLocation();
    });

    // Zemanje lokacija na user preku geolocation i prikazuvanje najbliski med ustanovi END

</script>

<!-- JS for map design and funct. END-->

</html>