<th:block xmlns:th="http://www.thymeleaf.org">
                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">  Табели</h1>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Табела - Медицински/Здравствени установи</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <h1>Медицински - Здравствени Установи</h1>
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr id="header">
                                            <th style="text-align: center">Назив</th>
                                            <th style="text-align: center">Категорија</th>
                                            <th style="text-align: center">Адреса</th>
                                            <th style="text-align: center">Град</th>
                                            <th style="text-align: center">Веб страна</th>
                                            <th style="text-align: center">Тел. број</th>
                                            <th style="text-align: center"> <img src="https://img.icons8.com/cotton/64/000000/doctors-folder.png" style="width: 30px; height: 30px"/> </th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr th:each="ustanova: ${Ustanovi}" id="body_rows">
                                            <th style="text-align: center">
                                                <a th:href="@{'/{id}' (id=${ustanova.getMedicinska_ustanova_ID()})}" style="color: cornflowerblue; text-align: center; text-decoration: none">
                                                    <span th:text="${ustanova.getNaziv()}" style="text-align: center; width: 250px; font-weight: bold">
                                                        Назив
                                                    </span>
                                                </a>
                                            </th>
                                            <td th:text="${ustanova.getKategorija()}">Категорија</td>
                                            <td th:text="${ustanova.getAdresa()}" style="text-align: left; width: 250px">Адреса</td>
                                            <td th:text="${ustanova.getGrad()}">Град</td>
                                            <td style="text-align: center"> <a th:href="${ustanova.getWebsite()}" target="_blank"> <span th:text="${ustanova.getWebsite()}">Веб страна</span></a></td>
                                            <td th:text="${ustanova.getTel_broj()}" style="text-align: left; width: 190px">Тел. број</td>
                                            <td style="text-align: center"> <a th:href="@{'/{id}' (id=${ustanova.getMedicinska_ustanova_ID()})}" style="color: cornflowerblue; text-align: center">Прикажи повеќе</a> </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
</th:block>