<!DOCTYPE html >
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Detailed View - Medical Center</title>
    <link rel="shortcut icon" href="img/pulseTabIcon.svg">

        <!-- Custom fonts for this template-->
        <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link
                href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
                rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="css/sb-admin-2.min.css" rel="stylesheet">

        <!-- Custom styles for this page -->
        <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
        <script type="text/javascript">

        <!--    Style for map-->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
        <link rel="stylesheet" href="//unpkg.com/leaflet-gesture-handling/dist/leaflet-gesture-handling.min.css"
              type="text/css">
        <script src="//unpkg.com/leaflet-gesture-handling"></script>
        <!--    Style for map END-->

        <!--    links for Routing -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
        <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
        <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
        <!--    links for Routing  END-->

    <!--    AJAX SCRIPT START-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--    AJAX SCRIPT END-->

    <script>
        function zoom() {
            document.body.style.zoom = "85%"
        }
    </script>

    <style>
        td{
            padding: 20px;
        }
        .button {
            background-color: rgba(78, 115, 223, .8);
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            transition: transform .64s;
            border-radius: 4px;
        }

        #back:hover {
            background-color: rgb(78, 115, 223);
            transform: scale(1.5);
            font-size: 109%;
        }

        input{
            background-color: rgba(78, 115, 223, .8);
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
        }
        input:hover {
            background-color: rgb(78, 115, 223);

        }

        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            appearance: none;
            background: transparent;
            font-size: 25px;
            border: none;
            margin-left: 20px;
            text-align: left;
            font-size: 25px;
        }
        select:hover{
            background-color: rgb(78,115,223);
            color: white;
        }

        .select {
            display: inline-block;
            width: 20em;
            height: 3.3em;
            background: transparent;
            border-radius: 10px;
            text-align: left;
            border: none;
        }

        select {
            margin-top: 30px;
            width: 100%;
            height: 100%;
            margin: 0;
            color: rgba(78,115,223, 0.8);
            font-size: 19px;
            cursor: pointer;
            padding: 5px;
            border: none;
        }
        select::after{
            font-size: 26px;
        }

        select::-ms-expand {
            display: none;
        }

        .select::after {
            top: 2px;
            right: 0;
            bottom: 0;
            padding: 0 1em;
            pointer-events: none;
            background-color: transparent;

            font-size: 26px;
        }
        .select:hover{
            border: 3px solid rgb(78,115,223) ;
        }

        .select:hover::after {
            color: lightgray;
            background-color: whitesmoke;
            border: none;
            font-size: 26px;
        }

        /*<!-- For different browsers --> */
        .select::after {
            -webkit-transition: .25s all ease;
            -o-transition: .25s all ease;
            transition: .25s all ease;
        }

        input[type=text] {
            width: 75%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: none;
            background-color: rgb(78, 115, 223);
            color: white;
            cursor: text;
        }

        #map {
            border: 4px solid rgba(78, 115, 223, 0.7);
        }

        img {
            transition: transform .3s;
        }
        img:hover {
            transform: scale(1.042);
        }
        table, th, td {
            border: 1px solid white;
            border-collapse: separate;
        }
        th{
            background-color: gainsboro;
            color: #3b5998;
            font-weight: bold;
            padding: 10px;

        }
        td {
            background-color: whitesmoke;
            color: #3b5998;
        }
        ::placeholder{
            color: rgba(255,255,255,0.7);
            font-style: italic;
        }
    </style>
</head>

<body id="page-top" onload="zoom()">

<!-- Page Wrapper -->
<div id="wrapper">

    <section th:replace="fragments/SideBar.html"></section> <!-- Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <section th:replace="fragments/Topbar.html"></section> <!-- Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <button class="button" id="back" style="margin-bottom: -20px; margin-top: -9px" onclick="location.href='https://go-lab.herokuapp.com/map';">&#xab; Назад
                </button>

                <span style="text-align: center">
                <h1 style="margin-top: 50px"></h1>
                <h1 th:text="${DetailedViewLab.get().getNaziv()}" style="font-weight: bold"></h1>
                </span>
                <span style="font-size: 1.2em; color: #2d4373; font-style: italic; text-align: center">
                        <h4 th:text="${DetailedViewLab.get().getKategorija()}"></h4>
                </span>


                <hr class="sidebar-divider my-0">
                <br>
                <th:block>
                    <h3 style="font-weight: bold; color: #3b5998">Контакт информации: </h3>
                    <br>
                    <span style="font-size: 1.2em">Град:</span>
                    <span style="font-size: 1.2em" th:text="${DetailedViewLab.get().getGrad()}">test</span>
                    <br>
                    <span style="font-size: 1.2em">Адреса:</span>
                    <span style="font-size: 1.2em" th:text="${DetailedViewLab.get().getAdresa()}">test</span>
                    <br>
                    <div th:if="${DetailedViewLab.get().getTel_broj()} != null">
                        <span style="font-size: 1.2em">Контакт тел. број:</span>
                        <span style="font-size: 1.2em" th:text="${DetailedViewLab.get().getTel_broj()}">test</span>
                        <br>
                    </div>
                    <div th:if="${DetailedViewLab.get().getOcena()} != null">
                        <span style="font-size: 1.2em">Оцена:</span>
                        <span style="font-size: 1.2em" th:text="${DetailedViewLab.get().getOcena()}">test</span>
                        <br>
                    </div>
                    <!--  Covid-19 Testing Info                  -->
                    <div th:if="${DetailedViewLab.get().getBrz_antigenski_test() or
                                   DetailedViewLab.get().getImuno_test() or
                                    DetailedViewLab.get().getCovid19_PCR_test() }  ">
                        <hr class="sidebar-divider my-0">
                        <br>
                        <h3 style="font-weight: bold; color: #3b5998"> Covid-19 тестирање: </h3>
                    </div>
                    <div th:if="${DetailedViewLab.get().getImuno_test()}">
                        <br>
                        <span style="font-size: 1.28em">Имуно тест:     <b>&#x2713;</b></span>
                    </div>

                    <div th:if="${DetailedViewLab.get().getBrz_antigenski_test()}">
                        <br>
                        <span style="font-size: 1.28em">Брз антигенски тест:    <b>&#x2713;</b></span>
                    </div>

                    <div th:if="${DetailedViewLab.get().getCovid19_PCR_test()}">
                        <br>
                        <span style="font-size: 1.28em">Covid-19 PCR тест:       <b>&#x2713;</b></span>
                    </div>
                    <br>
                </th:block>
                <br>
                <hr class="sidebar-divider my-0">
                <th:block>

                    <div th:if="${DetailedViewLab.get().getWebsite()} != null">
                        <br>
                        <h3 style="font-weight: bold; color: #3b5998">Линк: </h3>
                        <br>
                        <span style="font-size: 1.35em">Линк до веб страна: </span>
                        <a th:href="${DetailedViewLab.get().getWebsite()}"
                           th:text="${DetailedViewLab.get().getWebsite()} "
                           style="padding: 40px; color: cornflowerblue;" target="_blank"></a>
                    </div>
                    <br>
                    <div th:if="${DetailedViewLab.get().getOnline_booking()} != null">
                        <span style="font-size: 1.35em">Линк за резервација: </span>
                        <a th:href="${DetailedViewLab.get().getOnline_booking()}"
                           th:text="${DetailedViewLab.get().getOnline_booking()}"
                           style="padding: 40px; color: cornflowerblue;" target="_blank">test</a>
                    </div>
                    <br>
                    <div th:if="${DetailedViewLab.get().getCenovnik()} != null">
                        <span style="font-size: 1.35em">Линк до ценовник: </span>
                        <a th:href="${DetailedViewLab.get().getCenovnik()}"
                           th:text="${DetailedViewLab.get().getCenovnik()}"
                           style="padding: 40px; color: cornflowerblue;" target="_blank">test</a>
                    </div>
                    <br>
                    <div th:if="${DetailedViewLab.get().getPromocii()} != null">
                        <span>Линк до промоции: </span>
                        <a th:href="${DetailedViewLab.get().getPromocii()}"
                           th:text="${DetailedViewLab.get().getPromocii()}"
                           style="padding: 40px; color: cornflowerblue;" target="_blank">test</a>
                    </div>
                </th:block>
                <br>
                <hr class="sidebar-divider my-0">
                <br>
                <h3 style="font-weight: bold; color: #3b5998">Работни денови:</h3>
                <table>
                    <tr>
                        <th style="text-align: center">Ден</th>
                        <th style="text-align: center">Период</th>
                    </tr>
                    <tr>
                        <td>Понеделник</td>
                        <td th:text="${DetailedViewLab.get().getPonedelnik()} "
                            style="text-align: center; font-weight: bold; color: cornflowerblue">Период
                        </td>
                    </tr>
                    <tr>
                        <td>Вторник</td>
                        <td th:text="${DetailedViewLab.get().getVtornik()}"
                            style="text-align: center; font-weight: bold; color: cornflowerblue">Период
                        </td>
                    </tr>
                    <tr>
                        <td>Среда</td>
                        <td th:text="${DetailedViewLab.get().getSreda()}"
                            style="text-align: center; font-weight: bold; color: cornflowerblue">Период
                        </td>
                    </tr>
                    <tr>
                        <td>Четврток</td>
                        <td th:text="${DetailedViewLab.get().getCetvrtok()}"
                            style="text-align: center; font-weight: bold; color: cornflowerblue">Период
                        </td>
                    </tr>
                    <tr>
                        <td>Петок</td>
                        <td th:text="${DetailedViewLab.get().getPetok()}"
                            style="text-align: center; font-weight: bold; color: cornflowerblue">Период
                        </td>
                    </tr>
                    <tr>
                        <td>Сабота</td>
                        <td th:text="${DetailedViewLab.get().getSabota()}"
                            style="text-align: center; font-weight: bold; color: cornflowerblue">Период
                        </td>
                    </tr>
                    <tr>
                        <td>Недела</td>
                        <td th:text="${DetailedViewLab.get().getNedela()}"
                            style="text-align: center; font-weight: bold; color: cornflowerblue">Период
                        </td>
                    </tr>
                </table>

                <br>
                <hr class="sidebar-divider my-0">

                <!--                Image-->
                <br>
                <h3 style="font-weight: bold; color: #3b5998"> Слика: </h3> <br>
                <img th:src="${DetailedViewLab.get().getImgURL()}"
                     style="align-content: center; align-items: center; alignment: center"
                     alt="  No image to show for selected medical center">
                <br>
                <br>
                <!--                Image END-->


                <hr class="sidebar-divider my-0">
                <br>
                <h3 style="font-weight: bold; color: #3b5998"> Локација: </h3>
                <br>

                <!--                DETAILS LOCATION USER-->
                <form th:method="POST" th:action="@{/{id} (id=${DetailedViewLab.get().getMedicinska_ustanova_ID()})}" style="border: 2px solid lightgray">
                    <h6 style="text-align: center"> Земи ја твојата локација преку внес на улица, град и поштенски број во следното поле - 1 начин</h6>
                    <input type="text" name="adresa" th:value="${adresa}" spellcheck="false"
                           placeholder="Внеси ја овде твојата адреса во следниот формат: улица број град поштенски број "
                           style="margin-left: 2px">

                    <button id="genereteAddresses" class="button" >Прикажи постоечки адреси</button>
                    <br>
                    <br>


                    <select id="infoList" name="izbranaAdresa">
                        <option selected disabled hidden>
                            Одбери понудена почетна локација...
                        </option>
                    </select>
                    <br>
                    <br>
                    <button id="submitAddress" class="button">Прикажи избрана локација</button>

                </form>

                <br>

                <div style="border: 2px solid lightgray">
                    <h6 style="text-align: center"> Земи ја твојата моментална локација со само еден клик на следното копче - 2 начин </h6>
                    <button id="geoLocation" class="button" style="background-color: rgb(78, 115, 223, 0.8)" >
                        Прикажи моменталната локација
                    </button>
                </div>
                <!--                DETAILS LOCATION USER-->

                <!--                Route-->
                <br>
                <hr class="sidebar-divider my-0">
                <br>
                <h3 style="font-weight: bold; color: #3b5998"> Рута: </h3>
                <br>
                <button onclick="testRoute()" class="button" style="background-color: rgb(78, 115, 223, 0.8)"> Креирај рута </button>
                <!--                Route END-->

                <!--                Location on map-->
                <br>
                <br>
                <br>
                <div id="map" style="width: 100%; height: 800px">

                </div>


                <!--                Map END-->
                <div id="latitude" style="display: none"> </div>
                <div id="longitude" style="display: none"> </div>

            </div>
            <!-- End of Main Content -->


            <section th:replace="fragments/Footer.html"></section> <!-- Footer -->

        </div>
    </div>
    <!-- End of Content Wrapper -->


</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/datatables/jquery.dataTables.min.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/datatables-demo.js"></script>

</body>


<!-- JS for map design and funct.-->
<script>

    // Stay on same scroll position
    $(window).scroll(function () {
        sessionStorage.scrollTop = $(this).scrollTop();
    });
    $(document).ready(function () {
        if (sessionStorage.scrollTop != "undefined") {
            $(window).scrollTop(sessionStorage.scrollTop);
        }
    });
    // Stay on same scroll position END


    // layer group for all markers
    var marker;
    var marker_user;
    var user_lat = '[[${user_lat}]]';
    var user_lng = '[[${user_lng}]]';
    var layer;
    var latitude = [[${DetailedViewLab.get().getLatitude()}]];
    var longitude = [[${DetailedViewLab.get().getLongitude()}]];
    var naziv = '[[${DetailedViewLab.get().getNaziv()}]]' ;
    var adresa = '[[${DetailedViewLab.get().getAdresa()}]]';
    var kategroija = '[[${DetailedViewLab.get().getKategorija()}]]';
    var kontakt = '[[${DetailedViewLab.get().getTel_broj()}]]';

    const map = L.map('map', {
        gestureHandling: true // use ctrl+scroll to zoom on map
    }).setView([41.606510, 21.221958], 9);

    var layerGroup = L.layerGroup().addTo(map);

    layer1 =  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
    layer2 =  L.tileLayer('https://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    });
    layer3 =  L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    });

    var allOptions = {
        "Default": layer1,
        "Open streetmap: Hot": layer2,
        "Open streetmap: Osm": layer3
    };  // all layers

    L.control.layers(allOptions).addTo(map);

    var MedIcon = L.icon({
        iconUrl: 'https://img.icons8.com/cotton/64/000000/find-clinic--v1.png',
        iconSize:     [49, 49],
        iconAnchor:   [14, 49], // point of the icon which will correspond to marker's location,
        popupAnchor:  [9, -51] // point from which the popup should open relative to the iconAnchor
    });


    // marker za medicinskata ustanova na mapa
    marker = L.marker([latitude, longitude],{
        icon: MedIcon
    }).addTo(map)
        .bindPopup('<span style="text-align: center">' + '<hr>' +
            '<h5> <b style="color: #3b5998">Име:</b> ' + naziv + ', <i style="color: #3b5998; font-size: smaller"> категорија: ' + kategroija + '</i></h5>' +
            '<h5> <b style="color: #3b5998">Адреса:</b> ' + adresa + '</h5>' +
            '<h5> <b style="color: #3b5998">Контакт:</b> ' + kontakt + '</h5>' + '<hr>' + '</span>')
        .openPopup();

    layer1.addTo(map);  //default layer


    var adresaInput = '[[${adresa}]]' ;
    var izbranaAdresa = '[[${izbranaAdresa}]]';


    var ulica=adresaInput.split(" ")[0];
    var broj=adresaInput.split(" ")[1]
    var grad =adresaInput.split(" ")[2]
    var postcode=adresaInput.split(" ")[3]


    // Zemanje lokacija na user preku geolocation
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            document.getElementById("latitude").innerHTML = "The Browser Does not Support                                                                       Geolocation";
        }
    }

    function showPosition(position) {
        document.getElementById("latitude").innerHTML = position.coords.latitude;
        document.getElementById("longitude").innerHTML = position.coords.longitude;
        user_lat = parseFloat(document.getElementById("latitude").innerHTML);
        user_lng = parseFloat(document.getElementById("longitude").innerHTML);

        layerGroup.clearLayers();
        L.marker([user_lat, user_lng]).addTo(layerGroup)
            .bindPopup('<h5> Твојата локација </h5>');
    }

    $(document).on("click", "#geoLocation", function () {
        getLocation();
    });

    // Zemanje lokacija na user preku geolocation END

    $.ajax({

        method: "GET",
        url: "http://www.mapquestapi.com/geocoding/v1/address?key=lxFGmDwoY5MYGAFEBA5hXyvT0SIFGvff&location="+ulica+"%20"+broj+","+grad+",%20"+postcode+",%20North%20Macedonia",
        success: function(data) {
            $.each(data.results[0].locations, function (i, item) {

                var list_item = $("<option name='izbranaAdresa'></option>");

                list_item.append("Држава: ",item.adminArea1);
                list_item.append(", Регион: ",item.adminArea3);
                list_item.append(", Град: ",item.adminArea5);
                list_item.append(", Поштенски број: ",item.postalCode.split(" ")[0]);
                list_item.append(", Улица: ",item.street);
                list_item.append(", lat: ",item.displayLatLng.lat);
                list_item.append(", lng: ",item.displayLatLng.lng);

                list_item.appendTo("#infoList");


            });
        }
    });

    if(user_lat!=null && user_lng!=null) {

        // clear markers in layer Group
        layerGroup.clearLayers();

        marker_user = L.marker([user_lat, user_lng]).addTo(layerGroup)
            .bindPopup('<h5> Твојата локација </h5>')

        var latUser = Array();
        latUser.push(marker_user.getLatLng())
        latUser.push(marker.getLatLng())
        var polyline = L.polyline(marker, marker_user, {color: 'red'}).addTo(map);
    }


    // start routing
    function testRoute(){

        if(user_lat.length == 0 && user_lng.length == 0)
        {
            alert("Ве молиме да изберете ваша почетна локација во делот 'Локација'");
        }

        layer5 =  L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw',
            {
                maxZoom: 18,
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
                    'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                id: 'mapbox/streets-v11',
                tileSize: 512,
                zoomOffset: -1
            }).addTo(map);

        L.Routing.control({
            waypoints:   [
                L.latLng(parseFloat(user_lat), parseFloat(user_lng)),
                L.latLng(parseFloat(latitude), parseFloat(longitude))
            ]

        }).addTo(map);
    }

    // end routing


</script>
<!-- JS for map design and funct. END-->



</html>